examples/nodered/testflow.txt
[{"id":"c2cfc16f.9cf69","type":"function","z":"24fca80a.a58928","name":"muxascii","func":"\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":60,"wires":[["a0664c10.f2ab7"]]},{"id":"a0664c10.f2ab7","type":"serial out","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":570,"y":360,"wires":[]},{"id":"89dd9bc5.ded088","type":"serial in","z":"24fca80a.a58928","name":"","serial":"8c18b840.27b7c8","x":90,"y":360,"wires":[["b5ece538.f85f38"]]},{"id":"b5ece538.f85f38","type":"function","z":"24fca80a.a58928","name":"checkmsg","func":"//node.warn(msg);\n\nvar s = flow.get('s') || {\n    state: 0,\n    count: 0,\n    CS: 0,\n    curr_msg:{\n        SOM:2,\n        CI:0,\n        len:0,\n        bytes: new Buffer(256)\n    },\n    curr_msg_bytes: null,\n    ascii: '',\n    CI: 0,\n\n};\n\nflow.set('s', s);\n\nvar states = {\n    PROTOCOL_STATE_IDLE:0,\n    PROTOCOL_STATE_WAIT_CI:1,\n    PROTOCOL_STATE_WAIT_LEN:2,\n    PROTOCOL_STATE_WAIT_END:3,\n};\n\n\nvar PROTOCOL_SOM = 2;\n\nvar send_ack = function(CI) {\n    var b = new Buffer(5);\n    b[0] = 2;\n    b[1] = CI;\n    b[2] = 1;\n    b[3] = 'A'.charCodeAt(0);\n    b[4] = (0 - b[1] - b[2] - b[3]) & 0xff;\n    \n    node.send([null, {payload: b}]);\n}\n\n\nvar protocol_byte = function( byte ){\n    //node.warn(byte + \" \"+ s.state);\n    switch(s.state){\n        case states.PROTOCOL_STATE_IDLE:\n            if (byte == PROTOCOL_SOM){\n                s.curr_msg.SOM = byte;\n                s.state = states.PROTOCOL_STATE_WAIT_CI;\n                s.CS = 0;\n            } else {\n                //////////////////////////////////////////////////////\n                // if the byte was NOT SOM (02), then treat it as an \n                // ascii protocol byte.  BOTH protocol can co-exist\n                //ascii_byte( byte );\n                //////////////////////////////////////////////////////\n                if (byte >= 0x20) {\n                    s.ascii += String.fromCharCode(byte);\n                }\n                if (byte == 10) {\n                    if (s.ascii){\n                        node.send([null, null, {payload:s.ascii}]);\n                    }\n                    s.ascii = '';\n                }\n\n                if (byte == 13) {\n                    if (s.ascii){\n                        node.send([null, null, {payload:s.ascii}]);\n                    }\n                    s.ascii = '';\n                }\n                \n            }\n            break;\n        case states.PROTOCOL_STATE_WAIT_CI:\n            s.curr_msg.CI = byte;\n            s.CS += byte;\n            s.state = states.PROTOCOL_STATE_WAIT_LEN;\n            break;\n        case states.PROTOCOL_STATE_WAIT_LEN:\n            s.curr_msg.len = byte;\n            s.curr_msg_bytes = new Buffer(s.curr_msg.len+4);\n            s.curr_msg_bytes[0] = 2;\n            s.curr_msg_bytes[1] = s.curr_msg.CI;\n            s.curr_msg_bytes[2] = s.curr_msg.len;\n            \n            s.count = 0;\n            s.CS += byte;\n            s.state = states.PROTOCOL_STATE_WAIT_END;\n            break;\n        case states.PROTOCOL_STATE_WAIT_END:\n            if (!s.curr_msg_bytes){\n                s.state = states.PROTOCOL_STATE_IDLE;\n                break;\n            }\n            s.curr_msg_bytes[s.count+3] = byte;\n            s.curr_msg.bytes[s.count++] = byte;\n            s.CS += byte;\n            s.CS &= 0xff;\n            if (s.count >= s.curr_msg.len+1){\n                if (s.CS !== 0){\n                    node.warn('BAD CS');\n                    var m = [];\n                    m.push(s.curr_msg.SOM);\n                    m.push(s.curr_msg.CI);\n                    m.push(s.curr_msg.len);\n                    for (var x = 0; x < s.curr_msg.len; x++){\n                        m.push(s.curr_msg.bytes[x]);\n                    }\n                    m.push(s.CS);\n                    node.warn('bad cs'+ util.inspect(m)+\"xxx\"+ util.inspect(s.curr_msg_bytes));\n                    var msgs = flow.get(\"msgs\");\n                    //node.warn(msgs);\n                    \n                    if (msgs && msgs[s.curr_msg.bytes[1]]){\n                        node.warn(\"last msg\", msgs[s.curr_msg.bytes[1]]);\n                    }\n                } else {\n                    switch (s.curr_msg.bytes[0]){\n                        case 'N'.charCodeAt(0):\n                            node.warn('NACK');\n                            break;\n                        case 'A'.charCodeAt(0):\n                            //node.warn('ACK');\n                            break;\n                        default:\n                            node.send({payload: s.curr_msg.bytes.slice(0, s.curr_msg.len)});\n                            send_ack(s.curr_msg.CI);\n                            break;\n                    }\n                    //node.warn(s.curr_msg);\n                }\n                //node.warn(\"set idle\");\n                s.state = states.PROTOCOL_STATE_IDLE;\n            }\n            break;\n    }\n};\n\nfor (var i = 0; i < msg.payload.length; i++){\n    protocol_byte(msg.payload[i]);\n}\n\n//return msg;","outputs":3,"noerr":0,"x":260,"y":360,"wires":[["ca4a3f0f.b73f6","9ee5f976.b5ef58"],["a0664c10.f2ab7"],["ed414cc4.9944a"]]},{"id":"88c1ff6a.587d4","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":540,"wires":[]},{"id":"df75bbc4.d20888","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":60,"wires":[["1ca3a897.12ebf7"]]},{"id":"1ca3a897.12ebf7","type":"function","z":"24fca80a.a58928","name":"stop debug and stop poweroff","func":"var outstr = 'unlockASCII\\nE\\nP\\nI\\nX';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["c2cfc16f.9cf69"]]},{"id":"d734ed68.f9fe9","type":"comment","z":"24fca80a.a58928","name":"newprotocol","info":"","x":130,"y":20,"wires":[]},{"id":"cca7bf0b.3dfcd","type":"function","z":"24fca80a.a58928","name":"request hall data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 4;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":580,"wires":[["c737d147.1e92c"]]},{"id":"ed2dc46b.537a68","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":580,"wires":[["cca7bf0b.3dfcd"]]},{"id":"ca4a3f0f.b73f6","type":"function","z":"24fca80a.a58928","name":"parsecommands","func":"\nvar out = '';\n\n//node.warn(\"cmd \"+String.fromCharCode(msg.payload[0])+ \" \"+util.inspect(msg.payload));\n\nswitch (msg.payload[0]){\n    case 't'.charCodeAt(0):\n        out = {test:'test return len'+msg.payload.length};\n        break;\n    case 'R'.charCodeAt(0):\n        switch(msg.payload[1]) {\n            case 1:\n                out = {\n                    sensordata:{\n                        Angle:[msg.payload.readInt16LE(2+0),\n                            msg.payload.readInt16LE(2+28+0)],\n                        Roll:[msg.payload.readInt16LE(2+7+0),\n                            msg.payload.readInt16LE(2+28+7+0)],\n                        raw:msg.payload.slice(2),\n                        \n                    }\n                };\n                break;\n            case 3:\n                out = {\n                    speeddata:{\n                        WantedSpeed_mm_s:[msg.payload.readInt32LE(2+0),\n                            msg.payload.readInt32LE(2+4)],\n                        MaxPower:msg.payload.readInt32LE(2+8),\n                        MinPower:msg.payload.readInt32LE(2+12),\n                        MinSpeed:msg.payload.readInt32LE(2+16),\n                        SpeedDiff_mm_s:[msg.payload.readInt32LE(2+20),\n                            msg.payload.readInt32LE(2+24)],\n                        SpeedPower:[msg.payload.readInt32LE(2+28),\n                            msg.payload.readInt32LE(2+32)],\n\n                    }\n                };\n                break;\n            case 4:\n                out = {\n                    hallmm:{\n                        L:msg.payload.readInt32LE(2),\n                        R:msg.payload.readInt32LE(6),\n                        LO:msg.payload.readInt32LE(10),\n                        RO:msg.payload.readInt32LE(14),\n                    }\n                };\n                // reset the offsets\n                msg.payload[0] = 'W'.charCodeAt(0);\n                node.send([null, msg]);\n                break;\n            case 0x0c:\n                out = {\n                    xyt:{\n                        X:msg.payload.readInt32LE(2),\n                        Y:msg.payload.readInt32LE(6),\n                        degrees:msg.payload.readInt32LE(10)\n                    }\n                };\n                // reset the offsets\n                msg.payload[0] = 'W'.charCodeAt(0);\n                node.send([null, msg]);\n                break;\n            case 0x0d:\n                out = {\n                    PWMdata:{\n                        pwm:[msg.payload.readInt32LE(2+0),\n                            msg.payload.readInt32LE(2+4)],\n                        MaxPower:msg.payload.readInt32LE(2+8),\n                        MinPower:msg.payload.readInt32LE(2+12),\n                        Minpwm:msg.payload.readInt32LE(2+16),\n\n                    }\n                };\n                break;\n                \n        }\n        break;\n        \n}\n\nif (out) {\n    msg.payload = out;\n    return msg;\n}","outputs":2,"noerr":0,"x":690,"y":320,"wires":[["111c7613.51bcfa","9ee5f976.b5ef58"],["c737d147.1e92c"]]},{"id":"c737d147.1e92c","type":"function","z":"24fca80a.a58928","name":"sendmsg","func":"\n\n\nvar len = msg.payload.length;\nvar test = new Buffer(len+4);\n\nvar CI = flow.get(\"CI\") || 0;\nCI = ((CI+1)%256);\nflow.set('CI', CI);\n\ntest[0] = 0x02;\ntest[1] = CI;\ntest[2] = len;\n\n\n// one less, because cmd is included\nvar cs = 0;\n\nvar i;\nfor (i = 1; i < test.length-1; i++){\n    if (i > 2) {\n        test[i] = msg.payload[i-3];\n    }\n    cs -= test[i];\n}\ntest[i] = cs & 0xff;\n\nvar msgs = flow.get(\"msgs\") || {};\nmsgs[CI] = test;\nflow.set(\"msgs\", msgs);\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":480,"wires":[["a0664c10.f2ab7"]]},{"id":"ed414cc4.9944a","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":420,"wires":[]},{"id":"111c7613.51bcfa","type":"function","z":"24fca80a.a58928","name":"combinetovars","func":"\nvar vars = flow.get('vars') || {};\n\nObject.assign(vars, msg.payload);\n\nflow.set('vars', vars);\n\nreturn { payload: vars };","outputs":1,"noerr":0,"x":680,"y":460,"wires":[["8ed66964.0c42b8"]]},{"id":"8035636c.01bd9","type":"template","z":"24fca80a.a58928","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":640,"y":640,"wires":[[]]},{"id":"8ed66964.0c42b8","type":"json","z":"24fca80a.a58928","name":"","property":"payload","action":"","pretty":false,"x":610,"y":540,"wires":[["88c1ff6a.587d4"]]},{"id":"ca9f1906.168cb8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":620,"wires":[["28177f64.16679"]]},{"id":"28177f64.16679","type":"function","z":"24fca80a.a58928","name":"request sensor data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 1;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":620,"wires":[["c737d147.1e92c"]]},{"id":"cfae782a.e2c3e8","type":"function","z":"24fca80a.a58928","name":"make test buffer","func":"\nvar len = ((Math.random()*30)>>0)+1;\nvar test = new Buffer(len);\n\ntest[0] = \"T\".charCodeAt(0);\n\nvar start = (Math.random()*256)>>0;\n\nfor (i = 1; i < len; i++){\n    test[i] = (start+i) & 0xff;\n}\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":660,"wires":[["c737d147.1e92c"]]},{"id":"2e63a04d.17e7e","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":660,"wires":[["cfae782a.e2c3e8"]]},{"id":"a244be30.a24fb","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":880,"wires":[["7364744c.f877cc"]]},{"id":"7364744c.f877cc","type":"function","z":"24fca80a.a58928","name":"clear vars","func":"flow.set('vars', {});\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":880,"wires":[[]]},{"id":"4bc95917.2c5298","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["7fa690a5.b4021"]]},{"id":"7fa690a5.b4021","type":"function","z":"24fca80a.a58928","name":"sendposnincr","func":"\nvar len = 2+4+4;\nvar test = new Buffer(len);\n\ntest[0] = \"W\".charCodeAt(0);\ntest[1] = 5;\ntest.writeInt32LE(msg.payload, 2); \ntest.writeInt32LE(msg.payload, 6); \n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["c737d147.1e92c"]]},{"id":"eb5f6586.301f98","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["a24b544e.05cb38"]]},{"id":"a24b544e.05cb38","type":"function","z":"24fca80a.a58928","name":"sendspeed","func":"\nvar len = 2+4+4;\nvar test = new Buffer(len);\n\ntest[0] = \"W\".charCodeAt(0);\ntest[1] = 3;\ntest.writeInt32LE(msg.payload, 2); \ntest.writeInt32LE(msg.payload, 6); \n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["c737d147.1e92c"]]},{"id":"914c9a4b.a0b028","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":840,"wires":[["a24b544e.05cb38"]]},{"id":"9d757990.e651a8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["7ba731fc.02a33"]]},{"id":"7ba731fc.02a33","type":"function","z":"24fca80a.a58928","name":"send ?","func":"var out = new Buffer(4);\nout[0] = \"?\".charCodeAt(0);\nout[1] = \"\\n\".charCodeAt(0);\n\nmsg.payload = out;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["c2cfc16f.9cf69"]]},{"id":"776e8520.8acb8c","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"-100","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["7fa690a5.b4021"]]},{"id":"521e4d5.2d014b4","type":"function","z":"24fca80a.a58928","name":"sendenable","func":"\nvar len = 2+1;\nvar test = new Buffer(len);\n\ntest[0] = \"W\".charCodeAt(0);\ntest[1] = 9;\ntest[2] = msg.payload;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":800,"wires":[["c737d147.1e92c"]]},{"id":"7e90cf61.ed5bc","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":800,"wires":[["521e4d5.2d014b4"]]},{"id":"b419baf4.1fded8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":840,"wires":[["521e4d5.2d014b4"]]},{"id":"d17625a2.5397e8","type":"function","z":"24fca80a.a58928","name":"request xyt data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 0x0c;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":287,"y":992,"wires":[["7c36f158.c85"]]},{"id":"e4b8ae8d.d8c16","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":992,"wires":[["d17625a2.5397e8"]]},{"id":"f3007c7.17ee28","type":"function","z":"24fca80a.a58928","name":"send poweroff disable","func":"\nvar len = 2+1;\nvar test = new Buffer(len);\n\ntest[0] = \"W\".charCodeAt(0);\ntest[1] = 0x0a;\ntest[2] = 0x01;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1080,"wires":[["7c36f158.c85"]]},{"id":"c01a997d.e3ccd8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":1080,"wires":[["f3007c7.17ee28"]]},{"id":"7c36f158.c85","type":"function","z":"24fca80a.a58928","name":"mux","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1240,"wires":[["c737d147.1e92c"]]},{"id":"9ee5f976.b5ef58","type":"debug","z":"24fca80a.a58928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"f630c239.2b595","type":"function","z":"24fca80a.a58928","name":"request speed data","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 3;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":920,"wires":[["c737d147.1e92c"]]},{"id":"ee1f812b.61b66","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":920,"wires":[["f630c239.2b595"]]},{"id":"550e7b7f.6e1a84","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"140","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1160,"wires":[["5db63c32.a3b414"]]},{"id":"11b8d03a.40423","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1200,"wires":[["5db63c32.a3b414"]]},{"id":"5db63c32.a3b414","type":"function","z":"24fca80a.a58928","name":"sendpwm","func":"\nvar len = 2+4+4;\nvar test = new Buffer(len);\n\ntest[0] = \"W\".charCodeAt(0);\ntest[1] = 0xd;\ntest.writeInt32LE(msg.payload, 2); \ntest.writeInt32LE(msg.payload, 6); \n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1160,"wires":[["7c36f158.c85"]]},{"id":"a8664f74.38578","type":"function","z":"24fca80a.a58928","name":"readpwm","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 0xd;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1260,"wires":[["7c36f158.c85"]]},{"id":"9507ae06.db50d","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1260,"wires":[["a8664f74.38578"]]},{"id":"5338c8f9.007908","type":"function","z":"24fca80a.a58928","name":"readenable","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 9;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":1320,"wires":[["7c36f158.c85"]]},{"id":"adc40d13.81db","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1320,"wires":[["5338c8f9.007908"]]},{"id":"b47a9d00.975ba","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":1380,"wires":[["cbfc09be.62a628"]]},{"id":"cbfc09be.62a628","type":"function","z":"24fca80a.a58928","name":"readhbenable","func":"\nvar len = 2;\nvar test = new Buffer(len);\n\ntest[0] = \"R\".charCodeAt(0);\ntest[1] = 0xa0;\n\nmsg.payload = test;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":1380,"wires":[["7c36f158.c85"]]},{"id":"9a0fd3a0.7d13f","type":"function","z":"24fca80a.a58928","name":"reset and write flash","func":"var outstr = 'fi\\n';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":100,"wires":[["c2cfc16f.9cf69"]]},{"id":"c9547afb.9caef8","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["9a0fd3a0.7d13f"]]},{"id":"f0bcc6a2.5c8c78","type":"function","z":"24fca80a.a58928","name":"read all flash","func":"var outstr = 'fa\\n';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["c2cfc16f.9cf69"]]},{"id":"701f05a7.29370c","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["f0bcc6a2.5c8c78"]]},{"id":"e0ccbd3.c90cb4","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["fc7df4f3.06de38"]]},{"id":"fc7df4f3.06de38","type":"function","z":"24fca80a.a58928","name":"reset firmware","func":"var outstr = 'Pr\\n';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["c2cfc16f.9cf69"]]},{"id":"1b6a01cb.7358ee","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":260,"wires":[["6baed9ad.32f038"]]},{"id":"6baed9ad.32f038","type":"function","z":"24fca80a.a58928","name":"enable console","func":"var outstr = 'Ec\\n';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["c2cfc16f.9cf69"]]},{"id":"f79a67e3.52f688","type":"function","z":"24fca80a.a58928","name":"write flash sl","func":"var outstr = 'fsl300\\n';\n\nvar out = new Buffer(outstr);\n\nmsg.payload = out;\n\nflow.set('s',  null);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":300,"wires":[["c2cfc16f.9cf69"]]},{"id":"19c7fda9.172422","type":"inject","z":"24fca80a.a58928","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":300,"wires":[["f79a67e3.52f688"]]},{"id":"8c18b840.27b7c8","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"50","bin":"bin","out":"interbyte","addchar":false,"responsetimeout":""}]